.Clear {
	background-color: #abf5ed;
}

.Clouds {
	background-color: #c0b490;
}

.Atmosphere {
	background-color: #f2ff26;
}

.Snow {
	background-color: #4733ff;
}

.Rain {
	background-color: #00cf91;
}

.Drizzle {
	background-color: #33ff7d;
}

.Thunderstorm {
	background-color: #000831;
}